<footer class="w-full py-4 bg-black">
    <div class="flex flex-col justify-center px-4 mx-auto space-y-8 lg:px-0 lg:w-2/3">
      <hr class="w-full border-t border-opacity-10 border-gray" />
      <div class="flex flex-col w-full space-y-8 text-sm lg:space-y-0 lg:justify-between lg:flex-row">
        <div class="flex flex-col space-y-4">
          <a href="/">
            <img src="/assets/img/logos/foxio_wordmark.png" class="h-5 my-auto" alt="FoxIO Logo" />
          </a>
          <p class="font-medium text-gray">The FoxIO blog</p>
          <div class="flex items-center space-x-4">
            <a href="/feed.xml" target="_blank" class="text-white text-opacity-50 hover:text-opacity-100">
              <i class="text-xl ri-rss-fill"></i>
            </a>
            <a href="https://www.linkedin.com/company/foxio-llc" target="_blank" class="text-white text-opacity-50 hover:text-opacity-100">
              <i class="text-xl ri-linkedin-fill"></i>
            </a>
          </div>
        </div>
        <div class="flex space-x-4">
          <a href="https://foxio.io/" target="_blank" class="text-white text-opacity-50 hover:text-opacity-100"> FoxIO </a>
        </div>
      </div>
      <div class="self-end text-xs text-gray">
        <p>© 2024 FoxIO</p>
      </div>
    </div>
  </footer>
