<nav id="navbar" class="fixed top-0 left-0 z-10 w-full h-[7.5vh] bg-opacity-75 backdrop-blur-sm shadow-gray/10 shadow-[inset_0px_-1px_1px] bg-black">
  <div class="items-center justify-between hidden w-2/3 h-full px-0 mx-auto text-sm lg:flex">
    <a href="/" class="flex items-center">
      <img src="/assets/img/logos/foxio_wordmark.png" alt="FoxIO logo" class="h-5 my-auto" />
    </a>
    <div class="items-center hidden space-x-4 font-semibold lg:flex">
      <a href="https://foxio.io/" target="_blank" class="text-white text-opacity-50 hover:text-opacity-100"> FoxIO </a>
    </div>
  </div>

  <div class="flex items-center justify-between w-full h-full px-4 dropdown lg:hidden">
    <a href="/" class="flex items-center">
      <img src="/assets/img/logos/foxio_wordmark.png" alt="FoxIO logo" class="h-5 my-auto" />
    </a>
    <div id="mobile-drawer-toggle" tabindex="0" class="text-xl text-white ri-menu-fill"></div>
    <ul
      id="mobile-drawer"
      tabindex="0"
      class="z-20 dropdown-content flex flex-col p-4 space-y-4 font-semibold dropdown-end fixed left-0 top-[7.5vh] w-screen shadow-gray/10 shadow-[inset_0px_-1px_1px] bg-black text-white"
    >
      <li>
        <a href="https://foxio.io/" target="_blank" class="text-xl"> FoxIO </a>
      </li>
    </ul>
  </div>

  <script>
    const navBar = document.getElementById("navbar");
    const mobileDrawerToggle = document.getElementById("mobile-drawer-toggle");

    if (navBar && mobileDrawerToggle) {
      mobileDrawerToggle.addEventListener("click", () => {
        navBar.classList.remove("bg-opacity-75", "shadow-gray/10", "shadow-[inset_0px_-1px_1px]");
        navBar.classList.add("bg-opacity-100");
      });
      document.addEventListener("click", (e) => {
        if (e.target !== mobileDrawerToggle) {
          navBar.classList.add("bg-opacity-75", "shadow-gray/10", "shadow-[inset_0px_-1px_1px]");
          navBar.classList.remove("bg-opacity-100");
        }
      });
    }
  </script>
</nav>
