<!doctype html>
<html lang="en" data-theme="FoxIO Blog">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
        <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/assets/img/apple_touch_icon.png">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/assets/css/lightbox.css">
        <link
          href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
          rel="stylesheet"
        />

        {% seo title=false %}
        <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
        <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-8TFHVF31TN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-8TFHVF31TN');
        </script>

        <title>{{ page.title }} • FoxIO Blog</title>
    </head>
    <body class="flex flex-col min-h-[100dvh] lg:min-h-[100vh] bg-black">
        <script src="/assets/js/lightbox-plus-jquery.js"></script>
        {% include nav.html %}

        <div class="flex-grow px-4 py-12 mx-auto mt-[7.5vh] prose lg:max-w-[66.666667%] lg:px-0 w-full break-words">
            <h1>
                {{ page.title }}
            </h1>

            <div class="flex not-prose">
                <img src="{{ page.headshot-loc }}" alt="{{ page.author }}" class="h-10 my-auto mr-2 rounded-full aspect-square" />
                <div class="my-auto">
                    <p class="text-sm font-semibold text-white">{{ page.author }}</p>
                    <p class="text-xs text-gray-light">{{ page.date | date: "%B %-d, %Y" }}</p>
                </div>
            </div>

            {{ content }}
        </div>

        {% include footer.html %}
    </body>
</html>
