<!doctype html>
<html lang="en" data-theme="FoxIO Blog">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
        <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/assets/img/apple_touch_icon.png">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link
          href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
          rel="stylesheet"
        />

        {% seo title=false %}
        <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
        <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-8TFHVF31TN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-8TFHVF31TN');
        </script>

        <title>FoxIO Blog</title>
    </head>
    <body class="flex flex-col min-h-[100dvh] lg:min-h-[100vh] bg-black">
        {% include nav.html %}

        <div class="flex-grow px-4 py-12 w-full mx-auto mt-[7.5vh] max-w-none lg:w-2/3 not-prose lg:px-0 break-words">
            {{ content }}
        </div>

        {% include footer.html %}
    </body>
</html>
